.registration-container
  = render partial: 'devise/registrations/user-add-header-4'
  -# TODO: 機能実装していない為、仮のLinkを置いている。
  = link_to sign_up5_path, class: 'btn-red' do
    次へ進む
  = render partial: 'devise/registrations/card-add'
  = render partial: 'devise/registrations/terms-footer'
  