.category{
 
  &__content{
    margin: 40px auto;
    width: 700px;
  }

  &__main{
    display: block;

    &__title{
      background-color: #f5f5f5;

      &--text{
        padding: 8px 0;
        font-size: 22px;
        line-height: 1.4;
      }
    }

    &__top{
      text-align: center;

      &__link-name{
        background-color: #fff;
        float: left;
        display: block;
        border-radius: 4px;
        min-width: 80px;
        height: 40px;
        padding: 0 30px;
        margin: 5px;
        color: #333;
        font-size: 16px;
        line-height: 40px;
      }
    }

    &__list-box{
      margin: 30px auto;
    }

    &__content{
      border-radius: 4px;
      margin-bottom: 40px;
      background-color: #fff;
    }

    &__parent{
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 7px 30px 0 30px;
      height: 40px;
      color: #fff;
      background-color: #ea352d;

      &--name{
        font-size: 22px;
      }
    }

    &__child{
      padding: 15px 0;

      &--text{

      }
    }

    &__grandchild{
      padding: 0 20px 10px;

      &__box{
        float: left;
        width: 50%;

        p{
          font-size: 16px;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }

  &__sub{
    padding: 24px 30px 10px 30px;

    a {
      color: #0099e8;
    }

    &__title{
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}
.search{
  &__category{
    &__box{
      width: 1050px;
      margin: 40px 150px;
    }
    .text-xs-center{
      text-align: center;
    }
  }
}




         