.navigation_pankuzu{
  height: 50px;
  border-top: 1px solid #eee;
  display: inline-flex;
  background: #fff;
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__box{ 
    display: inline-flex;
    margin: 0 100px;
    padding: 20px 0;
    width: 100%;
  } 
}

.navigation_list_merukari{
  color: black;
}

.icon_pankuzu-right{
  margin: 2px 10px;
  font-size: 12px;
  
}

.navigation_pakuzu__kategory--chil{
  font-weight: 900;
}