.breadcrumbs_list{
  border-top: 1px solid #eee;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  padding: 20px 200px;
  font-size: 14px;
  a{
  color: black;
  font-size: 14px;
  padding: 0 10px;
  }
  .current{
    font-weight: 900;
    padding: 0 10px;
  }
}

