.identification-content{
  background-color: rgb(245, 245, 245);
  height: 2000px;
  padding: 0;
  .identification-box{
    height: 2000px;
    width:  1020px;
    margin: 0 auto ;
  }
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

.identification-main{
  float: right;
  width: 700px;
  height: 1200px;
  background-color: white;
  &__about-uplord{
    margin: 8px 0 0 0;
    text-align: right;
    width: 565px;
    height: 21;
  }
  &__about-uplord-text{
    color: #589ef3;
    text-decoration: none;
  }
}

.identification-main__title {
  text-align: center;
  font-weight: 600;
  width: 100%;
  height: 40;
  font-size: 24px;
  padding: 8px 24px;
}

.identification-list{
  padding: 64px;
  border-top : solid 2px  rgb(245, 245, 245); 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
}

.identification-form{
  height: 100%;
}

.identification-index{
  margin: 42px 0 0 0;
  &__content{
  font-weight: 600;
  }
}

.any{
  background-color: #C0C0C0;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.identification-index__content--text{
  width: 100%;
  height: 50px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display: block;
  margin: 0;
}

.select-prefectures{
  margin: 8px 0 0;
  position: relative;
  width: 100%;
  .select-icon{
    position: absolute;
    right: 16px;
    top: 40%;
  }
}


.register-button{
  background-color: red;
  color: white;
  height: 50px;
  width: 100%;
  margin: 50px 0 0 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  line-height: 50px;
  border: none;
}


.about-registration{
  text-align: right;
  width: 565px;
  height: 21;
  margin: 50px 0 0 0;
  &__text{
  color: #589ef3;
  text-decoration: none;
  }
}

.todo-list{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  height: 700px;
  background-color: white;
}