.testbody
  .atama
  .card__edit
    .l__container
      .l__content 
        .l__content__inner
          %form.l-single-inner{action: "https://www.mercari.com/jp/mypage/card/delete/" ,method: "POST"}
            .l-single-content
              %button.btn-default.btn-red{type:"submit"}  ログアウト

