= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; "

-# %nav.navigation_pankuzu
-#   %ul.navigation_pankuzu__box
-#     %li.navigation_pankuzu__kategory--pare 
-#     =link_to "メルカリ","http://localhost:3000/", class: 'navigation_list_merukari'
-#     =fa_icon "chevron-right ", class: 'icon_pankuzu-right'
-#     =link_to "マイページ","http://localhost:3000/users/show", class: 'navigation_list_merukari'
-#     =fa_icon "chevron-right ", class: 'icon_pankuzu-right' 
-#     %li.navigation_pakuzu__kategory--chil いいね！一覧