.user-add__header
  %h1
    = link_to "#" do
      = image_tag "merukari_logo2.svg", alt: "mercari"
  %nav.user-add__bar
    %ol.clearfix
      %li.point__through
        会員情報
        .user-add__status
      
      %li.point__through
        電話番号認証
        .user-add__status
      
      %li.point__through
        お届け先住所入力
        .user-add__status
      
      %li.point__through
        支払い方法
        .user-add__status
      
      %li.point__active
        完了
        .user-add__status