= render partial: 'shared/header'
.search-content
  .search-content__box.clearfix
    .search-content-right
      %h2.search_word
        パンツの検索結果
      .search_number
        1〜132件表示
      .search-item-index
        .search-item-index__content
          =image_tag "https://static.mercdn.net/thumb/photos/m95577479951_1.jpg?1569509266", class:'search_item_image'
        .search-item-index__text
          パンツ
          .item_price
            ¥2000
          .item_likes_count
            1
    .search-content-left

