.registration-container
  = render partial: 'shared/user-add-header-5'
  .member-complate-content
    .complate-box
      .complate-main
        %h2.complate-main__title
          会員登録完了
        .complate-list
          .complate-list__notes
            ありがとうございます。
            %br/
            会員登録が完了しました。

          = form_with( id:"start", class:"start-form" ) do |f| 
            = f.submit :xxx, value: "メルカリをはじめる", class: 'start-button'
    = render partial: 'shared/terms-footer'