= render partial: 'shared/header'
.user-logout
  .user-logout__right
    = link_to sgin_out_path, method: :delete do
      %button.btn-default.btn-red.user-logout__btn{type:"submit"}  ログアウト
  = render partial: 'shared/user_menu'
= render partial: 'shared/footer'