= render partial: 'shared/header'
.top-main
  .special-issue-image
    =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png",class:'slider-control__left'
    =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png",class:'slider-control__right'
  .popular-category
    %h2.popular-category__title
      人気のカテゴリー
      %ul.popular-category__list
        %li.popular-category__name
          レディース
        %li.popular-category__name
          メンズ
        %li.popular-category__name
          家電・スマホ・カメラ 
        %li.popular-category__name
          おもちゃ・ホビー・グッズ
    .new-arrival-list
      .new-arrival-list__block
        %h3.new-arrival-item__title
          レディース新着アイテム 
        %p.new-arrival-item__more
          もっと見る
          =fa_icon"chevron-right",class:'icon'
      .new-arrival-item
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
        .new-arrival-item__box
          =image_tag "https://static.mercdn.net/thumb/photos/m75011212833_1.jpg?1560765857" ,class:'new-arrival-item__box--image' 
          .new-arrival-item__box--text
            本日値下げ　ニコアンド　nico and... 袖スカラップレースTシャツ
          .new-arrival-item__box--price
            ￥15,000
    .popular-brands 
      %h2.popular-brands__title
        人気のブランド
      %ul.popular-brands__list
        %li.popular-brands__name
          シャネル
        %li.popular-brands__name
          ルイヴィトン
        %li.popular-brands__name
          シュプリーム
        %li.popular-brands__name
          ナイキ
= render partial: 'shared/footer'
