%section.item__box__container.l__single__container
  %h1.item__name ☆コーチ COACH☆2way/ショルダーバッグ/ハンドバッグ/ブラウン
  .item__main__content.clearfix
    .item__photo
      .owl__carousel.owl__loaded.owl__drag
        .owl__stage__outer
          .owl__stage{:style => "left: 0px; width: 1200px;"}
            .owl__item.active{:style => "width: 300px;"}
              .owl__item__inner
                %img.owl__lazy{:alt => "☆コーチ COACH☆2way/ショルダーバッグ/ハンドバッグ/ブラウン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_1.jpg?1567676033", :src => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_1.jpg?1567676033", :style => "opacity: 1;"}/
            .owl__item{:style => "width: 300px;"}
              .owl__item__inner
                %img.owl__lazy{:alt => "☆コーチ COACH☆2way/ショルダーバッグ/ハンドバッグ/ブラウン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_2.jpg?1567676033"}/
            .owl__item{:style => "width: 300px;"}
              .owl__item__inner
                %img.owl__lazy{:alt => "☆コーチ COACH☆2way/ショルダーバッグ/ハンドバッグ/ブラウン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_3.jpg?1567676033"}/
            .owl__item{:style => "width: 300px;"}
              .owl__item__inner.is__higher__height
                %img.owl__lazy{:alt => "☆コーチ COACH☆2way/ショルダーバッグ/ハンドバッグ/ブラウン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_4.jpg?1567676033"}/
        //多分JSの実装時に必要?
        .owl__nav.disabled  
          .owl__prev prev
          .owl__next next
        .owl__dots
          .owl__dot.active
            %span
            .owl__dot__inner
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_1.jpg?1567676033"}/
          .owl__dot
            %span
            .owl__dot__inner
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_2.jpg?1567676033"}/
          .owl__dot
            %span
            .owl__dot__inner
              %img{:src => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_3.jpg?1567676033"}/
          .owl__dot
            %span
            .owl__dot__inner
              %img.is__higher__height{:src => "https://static.mercdn.net/item/detail/orig/photos/m84875395935_4.jpg?1567676033"}/
      .go__number__likes
        現在、
        %span> 1人
        がこの商品にいいね!しています
    %table.item__detail__table
      %tbody
        %tr
          %th 出品者
          %td
            %a{:href => "https://www.mercari.com/jp/u/473412333/"} ☆あき☆（写真はだいすけちゃん♡）
            %div.ratingbox
              .item__user__ratings
                = image_tag"laugh-solid.svg",class: "icon__good face"
                %span 29
              .item__user__ratings
                = image_tag"meh-solid.svg",class: "icon__normal face"
                %span 0
              .item__user__ratings
                = image_tag"frown-solid.svg",class: "icon__bad face"
                %span 0
        %tr
          %th カテゴリー
          %td
            %a{:href => "https://www.mercari.com/jp/category/1/"}
              %div レディース
            %a{:href => "https://www.mercari.com/jp/category/20/"}
              .item__detail__table__sub__category
                =fa_icon "chevron-right", class: 'icon'
                バッグ
            %a{:href => "https://www.mercari.com/jp/category/214/"}
              .item__detail__table__sub__sub__category
                =fa_icon "chevron-right", class: 'icon'
                ショルダーバッグ
        %tr
          %th ブランド
          %td
            %a{:href => "https://www.mercari.com/jp/brand/539/"}
              %div
                コーチ
        %tr
          %th 商品の状態
          %td 目立った傷や汚れなし
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td ゆうゆうメルカリ便
        %tr
          %th 配送元地域
          %td
            %a{:href => "https://www.mercari.com/jp/area/27/"} 大阪府
        %tr
          %th 発送日の目安
          %td 1~2日で発送
  .item__price__box.text__center
    %span.item__price__box__price.bold ¥19,400
    %span.item__price__box__tax (税込)
    %span.item__price__box__shipping__fee 送料込み
  %a.item__buy__btn{:href => "https://www.mercari.com/jp/transaction/buy/m84875395935/"}
    購入画面に進む
  %a.item__action__text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m84875395935", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
    アプリで購入
  .item__description.f14
    %p.item__description__inner
      オススメです！コーチのハンドバッグ、ブラウンで統一感を出したコーディネートしやすいバッグです。
      
      ～・～・～・～・～・～・～・～・～・～・
      Amazon 並行輸入 アウトレットで、26,980で販売されている商品です。
      非常に状態の良い商品ですが、少しでもお得にと思いましてお値段も頑張らせていただきました。
      ～・～・～・～・～・～・～・～・～・～・
      
      【サイズ】
      縦200mm×横230mm×マチ約93mm
      
      【仕様】
      キレイなレンガ色のブラウンで統一した、シンプルでかわいいハンドバッグです。
      付属のベルトを使ってショルダーバッグとして使用してもかわいいと思います。
      内側にファスナー付きポケット、縫い付けポケット有り
      
      【状態】
      ほとんど使用感、色あせがなく美品です。
      
      【シリアルナンバー】
      NO.G1681 F36624
      
      \#コーチ #COACH #ハンドバッグ #ショルダーバッグ #ブラウン #茶色 #おしゃれ #シンプル #かわいい #レディース
      
      *******  *******  *******  *******
      
      入園式、結婚式、卒園式、
      仕事バッグとして、または説明会など・・・
      財布、ポーチ、
      コインケース、カードケース、
      キーケース、バッグなど
      メンズ、レディース、男女兼用
      
      色々と出品出来ればと考えております。
      お楽しみに！
  .item__button__container.clearfix
    .item__button__container__left
      %button.item__button.item__button__like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m84875395935", "data-toggle" => "like", :name => "like!", :type => "button"}
        = fa_icon 'heart-o', class: "icon"
        %span いいね!
        %span.fade__in__down{"data-num" => "like"} 1
      %a.item__button.item__button__report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
        =fa_icon "flag-o", class: 'icon'
        %span 不適切な商品の報告
      %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m84875395935/"}/
      %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m84875395935/"}/
      %input{:name => "__csrf_value", :type => "hidden", :value => "955a18dbbd63e33bb07eb8f06b763c8200c87f8d65e579b1956a1913fe460153db5a5514bd27d181288de2b3303c01d96cc8e8331e6d76545ab99ce065c7462e8"}/
    .item__button__container__right
      %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
        =fa_icon "lock", class: 'icon'
        %span あんしん・あんぜんへの取り組み
