// Place all the styles related to the jiyus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//////部品の指定//////////////////////////////////////
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}


.testbody{
  width:100%;
  height:100%;
  background-color: antiquewhite;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

a{
  color: white;
  text-decoration: none;
}
ul{
  list-style: none;
  padding-left: 0;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}



.footer{
  width:100%;
  bottom:0;
}
//　トップ画面下の出品リンク用のステッッキーカメラ画像///////////////////////////////
.camera{
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;
  &__link{
    display: block;
  }
  
.camera__nakami{
  width: 160px;
  height: 128px;
  padding-top: 32px;
  text-align: center;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
    &__text{
      font-size: 22px;
    }
    &__image{
      width: 60px;
      height: 54px;
      margin-top: 8px;
      max-width: 100%;
      max-height: 100%;
      color: rgb(255, 255, 255);
      display: block;
      margin: 5px auto 0px;
    
    }
  }
}








// フッター上部分/////////////////////////////////////////////////////////////
.footer__up{
  width:100%;
  background: url(footer__up__inner__background.jpg) center center / cover;
  background-position: center center;
}

.footer__up__inner{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 835px;
  margin: 0px auto;
  &__left{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    &__up {
      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &__down{
      color: rgb(255, 255, 255);
      font-size: 35px;
      margin-bottom: 20px;
    }   
    &__image{
      display: flex;
      &__mercari__icon{
        height: 68px;
        margin-right: 20px;
        width: 68px;
      }
      
      &__appstore__icon{
        height: 40px;
        margin-right: 8px;
        width: 144px;
      }
      
      &__ggp__icon{
        height: 40px;
        width: 144px;
      }
      
      &__sumaho__image{
        height: 260px;
        width: 300px;
      }
    }
  }

}





//フッター下部分//////////////////////////////////////////////////////////////
.footer__down{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  height:379px;
  display: flex;
  justify-content: center;
  &__inner__listgroup{
    display: flex;
  }
}
//パーツ
.listbox:first-child {
  padding-left: 0px;
}

.listbox{
  display: inline-block;
  padding: 0px 40px 0px 0px;
}

.list__title{
  font-size: 16px;
} 

.footer__li{
  line-height: 1.4em;
  margin: 16px 0px 0px;
  &__link{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    text-decoration: none;
  }
}


.first__list{
  margin-top:0; 
}
//各リスト設定///


.privacy.listbox{
  display:inline-block;
  padding-right: 40px;
  width: 43%;
  padding: 0px 40px 0px 0px;
}

.privacy__list__inner{
  display: flex;
  &__left{
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  &__right{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  
}



.sns{
  display: inline-block;
  margin-top: 30px;
}
.twitter{
  margin-right:30px;
}

.footer__down__under{
  width: 1020px;
  margin: 30px auto 20px;
  align-items: center;
  display: flex;
  &__hyouki{
    text-align: center;
    padding-left: 15px;
    width: 75%;
  }
}


