// 2019/09/29追加。森岡。

.item__f-select{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 1px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.category-box__grandchild , .category-box__child ,.hidden{
  display:none;
}
.sell__dropbox__box__inner{
  width: 620px;
}
.sell__dropbox__box__inner,.sell__dropbox__box__inner__nonaka,.sell__dropbox__box__inner__nonaka2{
  display: flex;
  flex-wrap: wrap;
}

.edit-item__images:first-child ,.edit-item__images:nth-child(6n) {
    margin-left: 0;
}
.edit-item__images{
  width: 116px;
  margin: 0 0 10px 10px;
  display: block;
}
.edit-item__images__image{
  width: 114px;
  height: 114px;
}

.edit-item__images__btns{
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}
.edit-item__images__btns__edit ,.edit-item__images__btns__delete{
    display: inline-block;
    width: 50%;
    background: #f5f5f5;
    line-height: 44px;
    text-align: center;
}
.edit-item__images__btns__delete{
  border-left: 1px solid #eee;
}

.motomoto_btn{
  display: inline-block;
  width: 50%;
  background: #f5f5f5;
  line-height: 44px;
  text-align: center;
  border-left: 1px solid #eee;
}

.upload__box{
  width: 620px;
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  &__text{
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}


.sell__dropbox__box__inner{
  display: flex;
}