.top-main{
  background-color: rgb(245, 245, 245);
  position: relative;
  
}

.special-issue-image{
  height: 390px;
  width: 100vw;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  position: relative;
  .slider-control__right{
  background-color: transparent;
  position: absolute;
  top: 150px;
  right: 100px;
  }
.slider-control__left{
  background-color: transparent;
  position: absolute;
  top: 150px;
  right: 1300px;
  }
}

.popular-category{
  padding: 40px 0px 20px 0px;
  text-align:center;
  background-color: white;
  &__title{
    font-size:28px;
    font-weight: 600; 
  }
  &__name {
    display: inline-block;
    list-style: none;
    height: 14;
    padding: 8px 16px;
    background-color:rgb(239, 239, 239);
    border-radius: 15px;
    font-weight: 600px;
    font-size: 14px;
    white-space: nowrap;
  }
}

.new-arrival-list{
  padding: 0 210px;
  background-color: rgb(245, 245, 245);
  height: 700px;
  &__block {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 30px 0 0 0;
    margin: 0 0 20px 0;
  }
  
  .new-arrival-item__title{
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  }
  
  .new-arrival-item__more{
    color:rgb(0, 149, 238);
    font-size: 14px;
    font-weight: 800;
  }
  
  .new-arrival-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__box{
    width: 186px;
    height: 250px;
    border: 1px;
    background-color: white;
    display: inline-block;
    position: relative;
    box-shadow: 1px 1px 2px gray;
    margin: 10px 10px 0 0;
      &--image {
        height: 180px;
        width: 186px;
      }
      &--text{
        font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        font-size: 14px;
        color:black;
        margin-top: 18px;
      }
      &--price{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(26, 25, 25, 0.3);
        color: white;
        font-size: 1.2em;
        width: 100px;
        height:28px;
        position: absolute;
        top: 140px;
        z-index: 2;
        padding-top: 5px;
        box-sizing: border-box;
      }
    }
  }
}

.popular-brands{
  padding: 40px 20px 20px 20px;
  text-align:center;
  background-color: white;
  &__title{
    font-size:28px; 
    font-weight: 600;
  }
  &__name {
    display: inline-block;
    list-style: none;
    margin: 20px;
    height: 14;
    padding: 8px 16px;
    background-color:rgb(239, 239, 239);
    border-radius: 15px;
    font-weight: 600px;
    font-size: 14px;
    white-space: nowrap;
  }
}
// 2019/10/15トップバナーのスライダー用に追加。森岡
.top__banners{
  display: flex;
  position: absolute;
  &__box{
    position: relative;
  }
}
.top__banners__box__text{
  position: absolute;
  top: 0;
  left: 70%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  &__left{
    padding-top: 30px;
    &__title{
      font-size: 60px;
      padding: 0px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 16px;
    }
    &__undertext{
      font-size: 18px;
      line-height: 1.77777;
      margin-bottom: 24px;
    }
    &__icon{
      display: flex;
    }
  }
  .top-banner-phone {
    width: 440px;
    height: 400px;
    display: block;
  }
}

.top__indicators{
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 20px;
  width: 100px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
}

.top-banner__btn{
  width: 10px;
  height: 10px;
  background-color: white;
  display: block;
  border-radius: 5px;
  background-color: hsla(0,0%,100%,.6);
  &:first-child{
    background-color: #fff;
  }
}

