.item__comments{
  padding: 24px;
  background: #fff;
  margin: 0;
}
.message-items li:first-child {
  margin: 1.5em 0 0;
}
.comment{

}
//   .comment__user
//       .comment__user__link__name
//   .comment__box
//     .comment__box__text 
//     .comment__box__icons
//       .comment__box__icons__time
//         %span 
//       .comment__box__icons__flags
// .comment__notice
// .comment__write
//   %textarea.textarea-default
//   %button.btn-default
// .item__shuffle
// .item__shuffle__before


// .item__shuffle__after

// .item__sns
// %ul
//   %li
// .item__buyer-collection-title
// .item__buyer-collection
// .item-show__item-box
// .item-show__item-box__title 
// .item-show__item-box__fee 