.item__comments{
  padding: 24px 40px 40px;
  background: #fff;
  margin: 10px auto 0;
  width: 700px;

}

.item__comments .comment:first-child {
  margin: 1.5em 0 0;
}
.comment{
  margin: 60px 0 0;

  &__user__link{
    display: flex;
    justify-content: flex-start;

    &__image{
      width: 40px;
      border-radius: 50%;
      margin-top: -5px;
    }

    &__name{
      color: black;
      margin-left: 15px;
      font-weight: 600;
    } 
  }
  &__box{
    display: block;
    margin-left:50px; 
    padding: 16px;
    background: #eef0f4;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
    margin-top: -15px;

    &__text {
      font-size:13px;
    }

    &__icons{
      display: flex;
      justify-content: space-between;
      margin: 8px 0 0;
      color: #aaa;
    }
  }

  &__notice{
    padding: 8px;
    font-size: 14px;
    background: #fff6de;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  &__write__submit{
    width: 100%;
    margin: 8px 0 0;
    text-align: center;
  }
}

.fa-flag-o:before {
  color: #aaa;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.item__shuffle {
  margin: 24px auto 0;
  width: 700px;
  display: flex;
  justify-content: space-between;

  a {
  color: $blue;
  }
}

.item__sns{
  background: #fff;
  background: #fff;
  width: 700px;
  margin: 24px auto;
  padding: 32px 0 24px;
  box-sizing: border-box;
  i{
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
  }
  ul{
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 8px 8px 0;
    vertical-align: middle;
  }
  &__facebook-icon{
    color:#fff;
    background-color: #385185;

    font-size: 30px;
  }
  &__twitter-icon{
    background: #5d9dc9;
    color:#fff;

    font-size: 28px;
  }

  &__pinterest-icon{
    background-color:#aa262a;
    color:#fff;

    font-size: 22px;
  }
}

.item__buyer-collection {
  width: 720px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;

  &-title {
    width: 700px;
    margin: 0 auto;

    h2{
      color: $blue;
      font-size: 22px;
        margin: 24px 0 8px;
    }
  }
}

.item__brand-collection{
  width: 720px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-bottom: 40px;
}

.item-show__item-box{
  width: 220px;
  margin: 0 20px 20px 0;
  background-color: #fff;
  img{
    width:220px;
    height: 240px;
  }
  &__title {
    h2{
      color: $blue;
      font-size: 22px;
      margin: 24px 0 8px;
    }
    span {
      display: block;
      line-height: 1.5;
      font-size: 16px;
      height: 3em;
    }
  }
  &-text{
    padding: 16px;
    height: 110px;
    color:black;
    box-sizing: border-box;
  }
}

.item-box-text__fee-box{
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0;

  &__fee  {
    display: block;
    color:black;
    font-size: 16px;
  }

  &__right{
    color: #aaa;
  }
}