label {
  display: inline-block;
}

.l__single{
  &__container{
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
  &__head {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
}

.single__header {
  display: block;
}
.sell{
&__form{
  border-top: 1px solid #eee;
    &__content {
    padding: 40px;
    border-top: 1px solid #eee;
    }
  }

  &__upload__box {
    width: 540px;
    padding: 40px;
  }
    &__upload__head {
  font-weight: 600px;
  font-size: 16px;
  +p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
}

  &__dropbox__container {
  display: block;
  width: 620px;
  margin: 16px auto 0;
  }
    &__upload__drop__box {
  width: 620px;
  position: relative;
  min-height: 70px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  float: right;
  padding: 40px 0;
}

&__upload__drop__file{
    display: none;
  }
  &__upload__drop__box pre {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
  }
  &__sub__head {
    color: #888;
    font-size: 14px;
    float: left;
  }
    &__form__box {
      float: right;
      width: 400px;
      margin: 0;
    }
}
.visible__pc {
  display: block;
}


.form{
  &__group {
  margin: 40px 0 0;
  first-child {
    margin: 0
  }
    label {
    font-weight: 600;
  }
}

&__require {
  background: #ea352d;
}
  &__arbitrary {
    background: #ccc;
  }
}

.form__require, .form__arbitrary, .message-is-seller, .news-private{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.form__group .input__default {
  width: 100%;
  margin: 8px 0 0;
}
.input__default {
  height: 32px;
  padding: 10px 1px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
.form__group label+.textarea__default {
  margin: 8px 0 0;
}
.textarea__default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.form__group .select__wrap {
  margin: 8px 0 0;
}


.select__wrap {
  position: relative;
  background: #fff;
}
.form__group select {
  width: 100%;
}
#select__default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 1px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
select {
  outline: 0;
  -webkit-appearance: none;
}
.select__wrap .icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  transform: translate(0, -50%);
}
.form-arbitrary {
  background: #ccc;
}
.sell__price>li:first-child {
  padding: 0 0 24px;
  border: 0;
}
.sell__price .form__group .l__left {
  width: 50%;
  line-height: 48px;
}

.sell__price .form__group .l__right {
  width: 50%;
}
.sell__price__input {
  text-align: right;
}
.l__right {
  float: right;
}
.l__left {
  float: left;
  font-weight: 600px;
}
.sell__price__input>div {
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}
.sell__price__input .input__default {
  margin: 0;
  text-align: right;
}
.sell__price>li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}


.sell__btn__box p {
  line-height: 1.5;
  a{
    color: #0099e8;
    text-decoration: none;
  }
}
.sell__btn__box .btn__red {
  margin: 40px 0 0;
}
.btn__red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.btn__default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.sell__btn__box .btn__gray {
  width: 45%;
  margin: 24px auto 0;
}
.btn__gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}