.identification-content{
  background-color: rgb(245, 245, 245);
  height: 2000px;
  padding: 0;
  .identification-box{
    height: 2000px;
    width:  1020px;
    margin: 0 auto ;
  }
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

.identification-main{
  float: right;
  width: 700px;
  height: 1200px;
  background-color: white;
}

.identification-main__title {
  text-align: center;
  font-weight: 600;
  width: 100%;
  height: 40;
  font-size: 24px;
  padding: 8px 24px;
}

.identification-list{
  padding: 64px;
  border-top : solid 2px  rgb(245, 245, 245); 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  font-weight: 500px;
}

.identification-form{
  height: 100%;
}


.register-button{
  background-color: red;
  color: white;
  height: 50px;
  width: 100%;
  margin: 50px 0 0 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  line-height: 50px;
  border: none;
}


.todo-list{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  height: 700px;
  background-color: white;
}