.profile-content{
  background-color: rgb(245, 245, 245);
  height: 500px;
  padding-top: 30px;
  .profile-box{
    height: 500px;
    width:  1050px;
    margin: 0 auto;
    
  }
}
.profile-main{
  float: right;
  width: 700px;
  height: 400px;
  &__title{
    font-size: 24px;
    padding: 8px 24px;
    text-align: center;
    background-color: white;
    height: 30px;
  }
}

.profile-top{
  background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?60226261);
  padding: 72px 190px 24px;
  text-align: center;
  display: flex;
  
}

.profile-nickname{
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 220px;
  margin: 0 0 0 8px;
}

.profile-text{
  padding: 40px 16px;
  background-color: white;
  height: 300px;
}

.profile-text-form{
  height: 200px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}


.profile-edit-button{
  background-color: red;
  color: white;
  height: 50px;
  width: 100%;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  line-height: 50px;
  border: none;
}

.profile-icon{
  border-radius: 50%; 
  width:  60px; 
  height: 60px; 
}

