.search-content{
  background-color: rgb(245, 245, 245);
  height: 1500px;
  &__box{
    // height: 2000px;
    width:  1020px;
    margin: 40px 200px;
    // background-color: white;
  }
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

.search-content-right{
  float: right;
  height: 2000px;
  width:  700px;
  background-color: white;
}

.search-content-left{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  height: 700px;
  background-color: white;
}

.search-item-index__a{
  width: 160px;
  height: 180px;
  margin: 0 20px 20px 0;
  // height: 390px;
  // left: 50%;
  // width: 100vw;
  // overflow: hidden;
  // padding: 0px;
  // margin: 0px;

}

.search_item_image{
  width: 160px;
  height: 170px;

}

.item_price{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(26, 25, 25, 0.3);
  color: white;
  font-size: 1.2em;
  width: 100px;
  height:28px;
  position: absolute;
  top: 140px;
  z-index: 2;
  padding-top: 5px;
  box-sizing: border-box;

}

.search-item-index__content {
  
}