//nakamiは他の部分ができるまでの仮置きです。
.edit{
  margin: 40px auto 0;
  width: 1020px;
  height:800px;
  text-align:center;
}

.l__side{
  width: 280px;
  margin: 0 40px 0 0;
}

//パーツ////////////
img {
  vertical-align: middle;
}

input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
  min-height: 1.5em;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  overflow: visible;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0em;
  font: 400 11px system-ui;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 2px;
}
//デフォルト設定//////////////
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  width: -webkit-fill-available;
}

///////////////////////////////////////////

.l__content{
  width: 700px;
  float: right;
  &__inner:first-child {
    margin: 0;
  }
  
  &__inner {
    margin: 40px 0 0;
    background: #fff;
    &__head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      margin: 0 auto;
    }
  }
  
}






.setting-profile-icon {
  padding: 72px 16px 24px;
  background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?60226261);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 0;
}

.setting-profile-icon figure {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}


.setting-profile-icon .input-default {
  width: 220px;
  margin: 0 0 0 8px;
  vertical-align: middle;
}


.setting-profile-content {
  padding: 40px 16px;
}

.setting-profile-content .textarea-default {
  min-height: 216px;
}

.setting-profile-content .btn-red {
  margin: 16px 0 0;
}
