// ここからヘッダー部分

.registration-header {
  .progress-bar {
    .first-progress-status:after, .progress-status.second-progress-status:before {
      background: #ea352d;
    }
    .second-progress-status {
      background: #ea352d;
    }
  }
}

// ここまでヘッダー部分

// ここからメイン部分

.main__content p {
  margin: 8px 0 0;
  line-height: 1.5;
}

// ここまでメイン部分