//nakamiは他の部分ができるまでの仮置きです。
.user-logout{
  margin: 40px auto 0;
  width: 1020px;
  height:800px;
  &__right{
    width: 700px;
    float: right;
    background: #fff;
    padding: 64px;
    box-sizing: border-box;
  }
  
  &__btn{
    max-width: 320px;
    margin: 0 auto;
  }
}


.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}



.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  overflow: visible;
}

.tekitou{
color: black;
margin: 25px auto;
display: block;
}

.view-index__title{
  border: 1px solid black;
  background-color: aqua;
}
.view-index{
  text-align: center;
}
