.users-items{
  float:right;
  &__title{
    padding: 0 16px;
    padding: 0 4%;
    background: #fafafa;
    font-size: 12px;
    line-height: 72px;
  }
  &__box{
    background: #fff;
    &__exhibiting{
      position: relative;
    }
    &__soldout{
      position: absolute;
    }
    &__lists{
      margin-top: 0;
      li{
        border-bottom: 1px solid #eee;
        display: block;
        min-height: 80px;
        padding: 16px;
        color: #333;
        box-sizing: border-box;
        position: relative;
      }
      &__image{
        float: left;
        width: 48px;
        height: 48px;
      }
    }
  }
  &__detail{
    display: block;
    margin: 0 40px 0 68px;
    &__title{
      line-height: 1.5;
      color: black;
    }
    &__icons{
      font-size: 15px;
      color: #888888;
      display: flex;
      margin-top: 8px;
      &__icon{
        margin: 0 6px 0 0;
      }
      &__last{
        background: #0099e8;
        display: inline-block;
        padding: 5px 6px;
        border-radius: 2px;
        font-size: 12px;
        color: #fff;
        margin-top: -3px;
      }
      &__arrow-right{
      position: absolute;
      right: 20px;
      top: 30px;
      color: #333333;
      }
    }
  }
}

.status-tabs{
  display: flex;
  border: 0;
  background: #eee;
  margin: 0;
  font-weight: bold;
  li{
    width: 33.3%;
    text-align: center;
    color: #333;
    font-size: 16px;
    line-height: 72px;
  }
  :first-child{
    background: #fff;
    border-top: 2px solid #ea352d;
  }
}







