%main.l-container.clearfix
  .l-content
    %section.mypage-user-icon
      %a{href: "https://www.mercari.com/jp/u/574995619/"}
        %figure
          %img{alt: "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}/
        %h2.bold 直哉
        .mypage-number
          %div
            評価
            %span.bold 0
          %div
            出品数
            %span.bold 0
    %section.mypage-tab-container-notification-todo
      %ul.mypage_tabs
        %li.mypage_tabs__active
          %h3.boldn
            %a{"data-toggle": "tab", href: "#mypage-tab-notification"}
              お知らせ
        %li
          %h3.boldn
            %a{"data-toggle": "tab", href: "#mypage-tab-todo"}
              やることリスト
              %span.mypage-nav-number.hidden-large
                
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            %a.mypage-item-link{href: "https://www.mercari.com/jp/mypage/news/"}
              %figure
                %img.lazyload{src: "https://static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「《明日まで》メルペイ電子マネー(iD)を設定するだけでP500プレゼント！」
                %time
                  %i.icon-time
                  %span 1 日前
              %i.icon-arrow-right
          %li
            %a.mypage-item-link{"data-modal": "banner", "data-open": "modal", href: ""}
              %figure
                %img.lazyload{src: "https://static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 《友達を招待すると必ずP1,000プレゼント》友達誘ってメルペイしようぜ！
                %time
                  %i.icon-time
                  %span 1 日前
              %i.icon-arrow-right
          %li
            %a.mypage-item-link{href: "https://www.mercari.com/jp/mypage/news/"}
              %figure
                %img.lazyload{src: "https://static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「《このメッセージを受け取られた方限定》9/1まで！メルペイ電子マネー(iD)を設定するだけでP500プレゼント！」
                %time
                  %i.icon-time
                  %span 4 日前
              %i.icon-arrow-right
          %li
            %a.mypage-item-link{"data-modal": "banner", "data-open": "modal", href: ""}
              %figure
                %img.lazyload{src: "https://static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 明日、20%割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.icon-time
                  %span 5 日前
              %i.icon-arrow-right
          %li
            %a.mypage-item-link{href: "https://www.mercari.com/jp/mypage/news/"}
              %figure
                %img.lazyload{src: "https://static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「20%OFFのお得チケットが届きました！※最大割引額￥1,000」
                %time
                  %i.icon-time
                  %span 6 日前
              %i.icon-arrow-right
          %li.mypage-go-list
            %a{href: "/jp/mypage/notification/"} 一覧を見る
    %section.mypage-tab-container
      %h2.mypage-tab-head.boldn 購入した商品
      %ul.mypage-tabs
        %li.active
          %h3.boldn
            %a{"data-toggle": "tab", href: "#mypage-tab-transaction-now"}
              取引中
        %li
          %h3.boldn
            %a{"data-toggle": "tab", href: "#mypage-tab-transaction-old"}
              過去の取引
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bolder 過去に取引した商品がありません
  %div.l-side
    %ul.mypage-nav-list
      %li
        %a.mypage-nav-list-item.active{href: "#"}
          マイページ
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          お知らせ
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          やることリスト
          %span.mypage-nav-number
            
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          いいね！一覧
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品する
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品した商品 - 出品中
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品した商品 - 取引中
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          出品した商品 - 売却済み
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          購入した商品 - 取引中
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          購入した商品 - 過去の取引
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          ニュース一覧
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          評価一覧
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          ガイド
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "#"}
          お問い合わせ
          %i.icon-arrow-right
    %h3.mypage-nav-head.boldn メルペイ
    %ul.mypage-nav-list
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/sales/"}
          売上・振込申請
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/point/"}
          ポイント
          %i.icon-arrow-right
    %h3.mypage-nav-head.boldn 設定
    %ul.mypage-nav-list
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/profile/"}
          プロフィール
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/deliver_address/"}
          発送元・お届け先住所変更
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/card/"}
          支払い方法
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/email_password/"}
          メール/パスワード
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/identification/"}
          本人情報
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "/jp/mypage/sms_confirmation/"}
          電話番号の確認
          %i.icon-arrow-right
      %li
        %a.mypage-nav-list-item{href: "/jp/logout/"}
          ログアウト
          %i.icon-arrow-right
